.Progress{
    position:relative;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Progress::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(wallpaper.jpg);
    filter: grayscale(100%);
}